<div class="container">
<div class="heading">
<h1>LingoRater</h1></div>
<div class="openApp">

<h1>Sign Up</h1>

  <%=form_for @user do |f|%>
    <%=f.label "Username:"%><br>
    <%=f.text_field :name%><br>
    <%=f.label "Password:"%><br>
    <%=f.password_field :password%><br>
    <%=f.label :password_confirmation, "Confirm Password:"%><br>
    <%=f.password_field :password_confirmation%><br><br>
    <%=f.submit "Sign Up"%>
  <%end%>
<br>

<h1>Log In</h1>
<%= form_for(:session, action: 'create', method: 'post') do |f| %>
<%=f.label "Name:"%><br>
<%=f.text_field :name%><br>
<%=f.label "Password:"%><br>
<%=f.password_field :password %><br><br>
<%= f.submit "Log In"%><br><br>
<% end %>

<%# Need to add links here to other Oauth logins %>
<div class="fbLogin">
<%= link_to('Log in with Facebook', '/auth/facebook', class: "fbBtn") %>
<i class="fab fa-facebook-square"></i>
</div>
</div>


</div>