<div class="displayContainer">

<h1>Add Course Review</h1><br>

<% if @course.errors.any? %>
		<ul>
    <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
<br>

<%= form_for @course do |f| %>
<%=f.label "Title:"%>
<%=f.text_field :title%><br><br>
<%=f.label "Level:"%>
<%=f.text_field :level%><br><br>
<%=f.label "Pages:"%>
<%=f.text_field :pages%><br><br>
<%=f.label "Published (YYYY):"%>
<%=f.text_field :year_published%><br><br>
<%=f.label "Description:"%>
<%=f.text_field :description%><br><br>

<%=f.label "Author:"%>
  <%= f.text_field :author_name, list: "authors_autocomplete" %>
  <datalist id="authors_autocomplete">
    <% Author.all.each do |author| %>
      <option value="<%= author.name %>"><br>
    <% end %><br><br>
  </datalist><br><br>


  <%=f.label "Language:"%>
   <%= f.text_field :language_name, list: "languages_autocomplete" %>
  <datalist id="languages_autocomplete">
    <% Language.all.each do |language| %>
      <option value="<%= language.name %>"><br>
    <% end %><br><br>
  </datalist><br><br>



  <%= f.fields_for :reviews, @course.reviews.build do |r| %>
	<%=r.label "Rating (1-5):"%>
	<%= r.text_field :rating %><br><br>
  <%=r.label "Review:"%>
  <%= r.text_area :description, cols: "100", rows: "10" %><br>
  <%end%>
	


  <%= f.submit%>
<% end %>

</div>