<div class="displayContainer">

<h1><%= @course.title %></h1>

<p>Language: <%= @course.language.name %></p>
<p>Publisher/Author: <%= @course.author.name %></p>
<p>Level: <%= @course.level %></p>
<p>Year Published: <%= @course.year_published %></p>
<p>Description: <%= @course.description %></p>
<p>Pages: <%= @course.pages %></p>
<br>
<hr>
<br>

<% @reviews.each do |r|%>
<h3>Review By: <%= r.user.name %> (<%= r.user.reviews.count %> Reviews Posted)</h3><br>
<p>Rating: <%= r.rating %></p><br>
<p>Description: <%= r.description %></p><br>
<%= link_to "Click here to see the full review", course_review_path(r.course, r) %><br>
<hr>
<br>
<%end %>

<button class="submit"><%= link_to "Add Review", new_course_review_path(@course) %></button>

</div>
