<div class="displayContainer">

<h1><%= @course.title %></h1>

<p>Language: <%= @course.language.name %></p>
<p>Publisher/Author: <%= @course.author.name %></p>
<p>Level: <%= @course.level %></p>
<p>Year Published: <%= @course.year_published %></p>
<p>Description: <%= @course.description %></p>
<p>Pages: <%= @course.pages %></p>

<hr>

<% @reviews.each do |r|%>
<h3>Review By: <%= r.user.name %></h3>
<p>Rating: <%= r.rating %></p>
<p>Description: <%= r.description %></p>
<%end %>

<button><%= link_to "Add Review", new_course_review_path(@course) %></button>

</div>
