<h1><%= @course.title %></h1>
<br>
<% if @review.errors.any? %>
		<ul>
		<p>Your review has not been saved because:</p>
    <% @review.errors.full_messages.each do |msg| %>
        <li class="errorMsg"><%= msg %></li>
    <% end %>
    </ul>
<% end %>
<br>

<p>Language: <%= @course.language.name %></p>

<br>

<%= form_for ([@course, @review]) do |f| %>
	<%= f.hidden_field :course_id%>
	<%=f.label "Rating:"%>
	<%= f.text_field :rating %><br><br>
  <%=f.label "Review:"%><br>
  <%= f.text_area :description, cols: "80", rows: "10" %><br><br>
  <%=f.submit%>
	<%end%>

